.sidebar{
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 65px;
    z-index: 200;
    padding-top: 3px;
    border-right-width: 1px ;
    border-right-style: solid  ;
    border-right-color: rgb(230, 222, 222);

}
.sidebar-link{
    height: 73px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}
.sidebar-link:hover{
    background-color: rgb(202, 205, 209);
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-family: roboto,arial;
    font-size: 11px;
}